@font-face {
    font-family: 'Samarkan';
    src: url('../src/fonts/samarkan.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
.samarkan{
    font-family: 'Samarkan', sans-serif;
}